<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.board.dao.mapper.AttFileMapper">
 	<!-- 파일추가 -->
 	<insert id="addFile" parameterType="attFile">
 		insert into attfiles values(file_seq.nextval,#{pNo},#{file_name,jdbcType=VARCHAR})
 	</insert>
 	
 	<!-- 파일이름 검색 -->
 	<select id="fileName" parameterType="int" resultType="String">
 		<![CDATA[
 		select file_name from attFiles where file_no=#{file_no}
 		]]>
 	</select>
 	
 	<!-- 파일 삭제검색 -->
 	<select id="getAttFiles" parameterType="string" resultType="AttFile">
 		<![CDATA[
 		select a.pno,a.file_no,a.file_name,p.user_id
		from posts p, attfiles a 
		where p.pno = a.pno(+) and p.user_id=#{value}  and a.file_no is not null
		]]>	
 	</select>
 	
 	<!-- 파일 수정 -->
 	<update id="updateFile" parameterType="attFile">
 		<![CDATA[ update attfiles set file_name=#{file_name} where file_no=#{file_no} ]]>
 	</update>
 	
 	<!-- 파일삭제 -->
 	<delete id="delFile" parameterType="int">
 		 delete from attfiles where file_no=#{file_no} 
 	</delete>
 	
 	<!-- pno에 해당하는 파일들 불러오기 -->
 	<select id="getFiles" parameterType="int" resultType="AttFile">
 		select * from attfiles where pno=#{pNo}
 	</select>
 	
 </mapper>