<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.board.dao.mapper.AttFileMapper">
 	<!-- 파일추가 -->
 	<insert id="addFile" parameterType="AttFile">
 		insert into attfiles values(file_seq.nextval,#{spNo},#{pNo},#{file_name,jdbcType=VARCHAR})
 	</insert>
 	
 	<!-- 파일이름 검색 -->
 	<select id="fileName" parameterType="int" resultType="String">
 		<![CDATA[
 		select file_name from attFiles where pno=#{pNo}
 		]]>
 	</select>
 	
 	<!-- 파일 수정 -->
 	<update id="updateFile" parameterType="AttFile">
 		<![CDATA[ update attfiles set file_name=#{file_name} where file_no=#{file_no} ]]>
 	</update>
 	
 	<!-- 파일삭제 -->
 	<delete id="delFile" parameterType="int">
 		<![CDATA[ delete from attfiles where file_no=#{fileNo} ]]>
 	</delete>
 </mapper>