<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.dao.mapper.ComentMapper">
	<select id="getComents" parameterType="int" resultType="Coment">
	select pno pNo,user_id userId,date_in dateIn,date_up dateUp
	from coments
	where pno=#{pNo} and spno={spNo}
	order by date_in desc
	</select>
	<insert id="addComent" parameterType="Coment">
	insert into coments (spno,pno,scno,cno,user_id,content)
	 values(#{spNo},#{pNo},#{scNo},#{cNo},#{userId,jdbcType=VARCHAR},#{content,jdbcType=VARCHAR})
	</insert>
	<update id="updateComent" parameterType="Coment">
	update coments set content=#{content},date_up={dateUp}
	where cno=#{cNo}
	</update>
	<delete id="delComent" parameterType="int">
	delete from coments
	where cno=#{value}
	</delete>
</mapper>