<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.board.dao.mapper.PostMapper">
 	<select id="getPosts" parameterType="post" resultType="post">
 		select spno,pno,user_id,title,content,date_in,date_up,file_name,count
 		from posts
 		where spno =#{spNo}
 		order by pno DESC
 	</select>
 	<insert id="addPost" parameterType="post">
 		insert into posts values(#{spNo},#{pNo},#{userId,jdbcType=VARCHAR},#{title,jdbcType=VARCHAR}
 		,#{content,jdbcType=VARCHAR},#{date_in,jdbcType=DATE},#{date_up,jdbcType=DATE},#{fileName,jdbcType=VARCHAR}
 		,#{count})
 	</insert>
 	<update id="updatePost" parameterType="post">
 	update posts set title=#{title},content={content},date_up=#{date_up}
	where pno={pNO} and spno=#{spNo}
 	</update>
 </mapper>