<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.board.dao.mapper.PostMapper">
 
 	<!-- 공지 글 추가 -->
 	<insert id="addPost" parameterType="post">
 		
 		insert into posts values(
 		<choose>
			<when test="spNo==0"> <!-- 제목글 -->
				pno_seq.nextval
			</when>
			<otherwise>
				#{spNo}<!-- 답변글 -->
			</otherwise>
		</choose>
 		
 		,pno_seq.nextval,#{user_id,jdbcType=VARCHAR},#{title,jdbcType=VARCHAR}
 		,#{content,jdbcType=VARCHAR},sysdate,#{date_up,jdbcType=DATE},#{count},#{plevel,jdbcType=DATE},#{depth,jdbcType=DATE},#{kind,jdbcType=DATE})
 		
 	</insert>
 	
 	<!-- 레코드 총 수 -->
 	<select id="totalCount" resultType="int">
 		select count(*) from posts
 	</select>
 	
 	<!-- 레코드 검색한 수 -->
 	<select id="searchCount" parameterType="com.board.DTO.Post" resultType="int">
 		 select count(*) from posts 
 		<choose>
			<when test="searchKey=='title'">
				<![CDATA[ 
					where  title like '%' || #{searchWord} || '%' 
				]]>	
			</when>
			<when test="searchKey=='user_id'">
				<![CDATA[ 
					where  user_id like '%' || #{searchWord} || '%' 
				]]>	
			</when>
		</choose>
 	</select>
 	
 	<update id="depthCount" parameterType="Post">
 		<![CDATA[
 		update posts set depth=depth+1 where spno=#{spNo} and depth>#{depth}
 		]]>
 	</update>
 	
 	<!-- 공지 글 수정 -->
 	<update id="updatePost" parameterType="Post">
 		<![CDATA[ update posts set title=#{title}, content=#{content,jdbcType=VARCHAR} where pno=#{pNo} ]]>
 	</update>
 	
 	<!-- pNo 최대값 구하기 -->
 	<select id="maxPost" resultType="int">
 		<![CDATA[ select max(pno) from posts ]]>
 	</select>
 	
 	<resultMap type="Post" id="Post">
 		<result property="spNo" column="spno"/>
 		<result property="pNo" column="pno"/>
 		<result property="user_id" column="user_id"/>
 		<result property="title" column="title"/>
 		<result property="content" column="content"/>
 		<result property="date_in" column="date_in"/>
 		<result property="depth" column="depth"/>
 		<result property="plevel" column="plevel"/>
 		<result property="count" column="count"/>
 		<result property="kind" column="kind"/>
 		<collection property="attFile" resultMap="AttFile"/>
 		<collection property="user" resultMap="User"/>
 	</resultMap>

 	<resultMap type="AttFile" id="AttFile">
 		<result property="file_no" column="file_no"/>
 		<result property="file_name" column="file_name"/>
 	</resultMap>
 	
 	<resultMap type="User" id="User">
 		<result property="userId" column="user_id" />
 		<result property="userName" column="user_name"/>
 	</resultMap>
 	
 	<!-- 공지 리스트 출력 -->
 	<select id="listPost" resultMap="Post" resultType="com.board.DTO.Post" parameterType="Page">
 		<![CDATA[
 		select b.*
  		from (select rownum as rm, a.*
		from (select p.spno, p.pno, p.depth, p.kind, p.plevel, p.user_id, u.user_name, p.title, p.date_in, p.count, a.file_no, a.file_name
		from posts p, attfiles a, users u
		where p.pno = a.pno(+) and p.user_id = u.user_id 
		]]>
		<trim prefix="and">
			<if test="searchWord!=null">
				<choose>
					<when test="searchKey=='title'">
						<![CDATA[ 
							 p.title like '%' || #{searchWord} || '%' 
						]]>	
					</when>
					<when test="searchKey=='user_id'">
						<![CDATA[ 
							 p.user_id like '%' || #{searchWord} || '%' 
						]]>	
					</when>
				</choose>
			</if>
		</trim>
		<![CDATA[
		order by p.kind desc, p.spno desc, p.depth asc)a)b
   		where b.rm>=#{startRow} and b.rm<=#{endRow}
     	order by b.kind desc, b.spno desc, b.depth asc
		]]>
 	</select>
 	
 	<!-- 공지글 보기 -->
 	<select id="viewPost" parameterType="int" resultMap="Post" resultType="com.board.DTO.Post" >
 		<![CDATA[
 		select p.spno, p.pno, p.user_id, p.kind, p.depth, p.plevel, p.content, u.user_name, p.title, p.date_in, p.count, a.file_no, a.file_name
		from posts p, attfiles a, users u
		where p.user_id = u.user_id and p.pno = a.pno(+) and 
		p.pno=#{pNo}
		order by p.pno desc
		]]>
 	</select>
 	
 	<!-- 제목에 답변에 달렸는지 확인하기 위해 -->
 	<select id="spnoCount" parameterType="int" resultType="int">
 		<![CDATA[ select count(spno) from posts where spno=#{spNo} ]]>
 	</select>
 	
 	<!-- 답변이 없을 경우 -->
 	<delete id="delPost" parameterType="int">
 		delete from posts where pno = #{pNo}
 	</delete>
 	
 	<!-- 최하위 답변 삭제하기 위해 -->
 	<select id="maxDepth" parameterType="int" resultType="int">
 		<![CDATA[ select max(depth) from posts where spno=#{spNo} ]]>
 	</select>
 	
 	<!-- 답변이 없을 있을경우 -->
 	<update id="delUpdatePost" parameterType="int">
 		<![CDATA[
 		update posts set user_id=null, title=null, content=null, date_in=null, date_up=null, count=0 where pno=#{pNo}
 		]]>
 	</update>
 	 	
 </mapper>