<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.board.dao.mapper.UserMapper">
	<select id="getUser" parameterType="user" resultType="user">
	<choose>
		<when test="userId == null">
		select user_id userId
		from users
		where user_name=#{userName} and pw_qa=#{pwQa} and pw_as=#{pwAs} and phone=#{phone}
		</when>
		<when test="userId != null and pwQa != null and pwAs != null">	
		select user_id userId,user_pw userPw,user_name userName,email,phone,add_no addNo,add_d addD,gender,pw_qa pwQa,pw_as pwAs
		from users
		where user_id =#{userId} and pw_qa=#{pwQa} and pw_as=#{pwAs}
		</when>
		<otherwise>	
		select user_id userId,user_pw userPw,user_name userName,email,phone,add_no addNo,add_d addD,gender,pw_qa pwQa,pw_as pwAs
		from users
		where user_id =#{userId}
		</otherwise>
	</choose>
	</select>
	
	<insert id="addUser" parameterType="user">
		insert into users(user_id,user_pw,user_name,email,phone,add_no,add_d,gender,pw_qa,pw_as) values( #{userId,jdbcType=VARCHAR},#{userPw,jdbcType=VARCHAR},#{userName,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR},
		 		#{phone,jdbcType=VARCHAR},#{addNo},#{addD,jdbcType=VARCHAR},#{gender},#{pwQa,jdbcType=VARCHAR},#{pwAs,jdbcType=VARCHAR})
	</insert>
	
	 <update id="updateUser" parameterType="user">
	 <choose>
	 	<when test="pwAs == null">
	 		update users set user_pw=#{userPw}
	 		where user_id=#{userId}
	 	</when>
	 	<otherwise>
		 	update users set user_id=#{userId},user_name=#{userName}
			,email=#{email},phone=#{phone},add_no=#{addNo},add_d=#{addD},gender=#{gender}
			,pw_qa=#{pwQa},pw_as=#{pwAs}
			where user_id=#{userId}
	 	</otherwise>
	 </choose>
	</update>
	<delete id="delUser" parameterType="user">
		delete users
		where user_id=#{userId}
	</delete> 
</mapper>